<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testngdemo.TestnGDemo"/>
      <class name="Testngdemo.day2">
      <methods>
      <include name="personalbank1"/>
      </methods>
     </class>
    </classes>
  </test> <!-- Test -->
  
   <test name="carloans">
    <classes>
      <class name="Testngdemo.day3">
      <methods>
      <exclude name="EMi"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
